body {
    background-color: #9d949e;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}

.list {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 25vh;
}

.intext {
    float: right;
    margin-top: 35px;
    padding-left: 50px;
}


.two {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 25vh;
}